[include fluidd.cfg]
[include K-ShakeTune/*.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]
[mcu]
canbus_uuid: 33fdea008eda
[mcu ebb]
canbus_uuid: 8526926209bb
# Driver0
[stepper_x]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
microsteps: 64
rotation_distance: 32
endstop_pin: ^ebb:PB6
position_endstop: 174
position_max: 174
homing_speed: 130
position_min: -5

[tmc2240 stepper_x]
cs_pin: PD3
spi_bus: spi1
#diag1_pin: PG6
run_current: 0.800
interpolate: true

[autotune_tmc stepper_x]
motor: omc-14hs20-1504s
# Driver1
[stepper_y]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
microsteps: 64
rotation_distance: 32
endstop_pin: ^PG14
position_endstop: 174
position_max: 185
homing_speed: 130

[tmc2240 stepper_y]
cs_pin: PE1
spi_bus: spi1
run_current: 0.800
interpolate: true

[autotune_tmc stepper_y]
motor: omc-14hs20-1504s
# Driver4
[stepper_z]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 32
gear_ratio: 64:16
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.5
position_max: 200
position_min: -10
homing_speed: 15

[tmc2240 stepper_z]
cs_pin: PF2
spi_bus: spi1
#diag1_pin: PG11
run_current: 0.800
interpolate: true

[autotune_tmc stepper_z]
motor: omc-17hs15-1504s

#Driver5
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
microsteps: 16
rotation_distance: 32
gear_ratio: 64:16

[tmc2240 stepper_z1]
cs_pin: PC7
spi_bus: spi1
run_current: 0.80
interpolate: true

[autotune_tmc stepper_z1]
motor: omc-17hs15-1504s

# Driver6
[stepper_z2]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 32
gear_ratio: 64:16

[tmc2240 stepper_z2]
cs_pin: PC6
spi_bus: spi1
run_current: 0.800
interpolate: true

[autotune_tmc stepper_z2]
motor: omc-17hs15-1504s

# Driver7
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 32
gear_ratio: 64:16

[tmc2240 stepper_z3]
cs_pin: PE4
spi_bus: spi1
run_current: 0.800
interpolate: true

[autotune_tmc stepper_z3]
motor: omc-17hs15-1504s

[extruder]
step_pin: ebb:PD0
dir_pin: !ebb:PD1
enable_pin: !ebb:PD2
microsteps: 16
gear_ratio: 44:8, 37:17
rotation_distance: 56.2
nozzle_diameter: 0.5
filament_diameter: 1.750
heater_pin: ebb:PB13
sensor_type: PT1000
sensor_pin: ebb:PA3
pullup_resistor: 2200
max_extrude_cross_section: 5
#control: pid
#pid_kp: 30.577
#pid_ki: 2.080
#pid_kd: 112.372
min_extrude_temp: 10
min_temp: 0
max_temp: 360
max_extrude_only_distance: 101.0
pressure_advance: 0.02

[tmc2209 extruder]
uart_pin: ebb:PA15
run_current: 0.8

[autotune_tmc extruder]
motor: moons-cse14hra1l410a

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: ATC Semitec 104GT-2
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: ebb:PA1

[heater_fan heatbreak_cooling_fan]
pin: ebb:PA0

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 10000
max_z_velocity: 50
max_z_accel: 100

[idle_timeout]
gcode:
  {% if printer.pause_resume.is_paused %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=True
    {action_respond_info("Idle Timeout: Extruder powered down")}
    M104 S0   ; Set Hot-end to 0C (off)
  {% else %}
    {action_respond_info("Idle Timeout: Stepper and Heater powered down")}
    TURN_OFF_HEATERS
    M84
  {% endif %}

# [probe]
# pin: ^ebb:PB5
# x_offset: -32
# y_offset: 0
# z_offset: 9.935
# speed: 25
# lift_speed: 50

[dockable_probe]
pin: ^ebb:PB5
y_offset: 26.0
#z_offset: 5
approach_position: 25, 150
dock_position: 25,174
detach_position: 90,174
check_open_attach: True
attach_speed: 130
detach_speed: 130
travel_speed: 130
dock_retries: 5
lift_speed: 20
z_hop: 15
[safe_z_home]
home_xy_position: 90, 64
speed: 130
z_hop: 15

[bed_mesh]
mesh_min: 2,30
mesh_max: 150,150
horizontal_move_z: 10
probe_count: 9
speed: 400
algorithm: bicubic
zero_reference_position: 90, 64

[quad_gantry_level]
gantry_corners:
  -60.2,-10.4
  244.1,234.5
points:
  2,2
  2,140
  160,140
  160,2
max_adjust: 10
speed: 130
horizontal_move_z: 10
[exclude_object]

[gcode_arcs]
resolution: 0.1

[adxl345]
cs_pin: ebb:PB12
spi_software_sclk_pin: ebb: PB10
spi_software_mosi_pin: ebb: PB11
spi_software_miso_pin: ebb: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20

[firmware_retraction]
retract_length: 0.7
retract_speed: 30
unretract_speed: 30

[output_pin ebb_led]
pin: ebb:PC13

[temperature_sensor octo]
sensor_type: temperature_mcu
sensor_mcu: mcu
[temperature_sensor ebb]
sensor_type: temperature_mcu
sensor_mcu: ebb
[temperature_sensor pi5]
sensor_type: temperature_host

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.047252, 0.015248, 0.015248, 0.005248, -0.009752, -0.024752, -0.032252, -0.047252, -0.049752
#*# 	  -0.034752, 0.022748, 0.025248, 0.015248, 0.002748, -0.009752, -0.014752, -0.037252, -0.047252
#*# 	  -0.037252, 0.015248, 0.015248, 0.020248, 0.007748, 0.000248, -0.012252, -0.032252, -0.042252
#*# 	  -0.057252, -0.014752, -0.009752, -0.002252, -0.004752, -0.012252, -0.024752, -0.047252, -0.059752
#*# 	  -0.109752, -0.062252, -0.067252, -0.052252, -0.054752, -0.064752, -0.074752, -0.087252, -0.077252
#*# 	  -0.147252, -0.104752, -0.114752, -0.104752, -0.102252, -0.102252, -0.104752, -0.117252, -0.124752
#*# 	  -0.162252, -0.117252, -0.122252, -0.122252, -0.122252, -0.114752, -0.109752, -0.117252, -0.122252
#*# 	  -0.152252, -0.102252, -0.107252, -0.104752, -0.109752, -0.094752, -0.094752, -0.092252, -0.094752
#*# 	  -0.099752, -0.062252, -0.062252, -0.062252, -0.064752, -0.054752, -0.049752, -0.049752, -0.054752
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 2.0
#*# max_x = 150.0
#*# min_y = 30.0
#*# max_y = 150.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 77.8
#*# shaper_type_y = ei
#*# shaper_freq_y = 41.2
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.514
#*# pid_ki = 0.902
#*# pid_kd = 75.558
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 50.650
#*# pid_ki = 2.768
#*# pid_kd = 231.726
#*#
#*# [dockable_probe]
#*# z_offset = 4.790
